<div class="menu">
    <ul class="menu-list">
        <li><a href="{% url 'main' %}" class="{% if request.resolver_match.url_name == 'main' %}menu_active{% endif %}">Главная</a></li>
        <li><a href="{% url 'catalog' %}" class="{% if request.resolver_match.url_name == 'catalog' %}menu_active{% endif %}">Каталог</a></li>
        <li><a href="#">Контакты</a></li>
        <li class="but_reg"><a href="#">Регистрация</a></li>
        <li class="but_sign"><a href="#">Вход</a></li>
    </ul>
</div>