.margin {
  margin: 0 auto;
}
.container {
  max-width: 1300px;
  min-width: 520px;
  margin: 0 auto;
}
.header {
  height: 433.33333333px;
  background-color: #999999;
  margin: 0 auto;
}
.main {
  background-color: #555555;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 1000px;
}
.block1 {
  width: 20%;
  height: 400px;
  outline: 1px solid black;
  margin: 50px 30px;
  float: left;
}
.block2 {
  min-width: 200px;
  height: 350px;
  outline: 1px solid black;
  margin: 50px 30px;
  float: right;
}
.footer {
  background-color: #333333;
  height: 325px;
}
.clr {
  clear: both;
}
