body {
  margin: 0px;
  padding: 0px;
}
.margin {
  margin: 0 auto;
}
.container {
  width: 2500px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header {
  padding: 0.1px;
  height: 300px;
  background-color: #999999;
  margin: 0 auto;
}
.logo {
  margin: 70px 0px 0px 70px;
  width: 120px;
  height: 120px;
  background-image: url(../img/logo.jpg);
  outline: 1px solid black;
}
.menu {
  margin: 0 auto;
  margin-top: 60px;
}
.menu-list li {
  width: 130px;
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  box-shadow: 0 1px 5px black;
  padding: 5px;
}
.menu-list {
  margin-bottom: 0;
  padding: 0;
  margin-top: 0;
  text-align: center;
}
.menu-list a {
  text-decoration: none;
  color: black;
}
.main {
  background-color: #555555;
  height: 1000px;
  padding: 0.1px;
}
.catalog_block1 {
  width: 250px;
  height: 600px;
  margin-left: 29.9px;
  float: left;
}
.catalog_block1 ul {
  padding-inline-start: 0px;
  margin: 0;
}
.catalog_block2 {
  max-width: 850px;
  height: 350px;
  outline: 1px solid black;
  margin-right: 29.9px;
  margin-left: 310px;
}
.catalog-list a {
  text-decoration: none;
  color: black;
  padding-left: 30px;
}
.catalog-list {
  list-style-type: none;
  font-size: 18px;
  padding: 20px 0 20px 0;
  border: 1px solid black;
  margin-bottom: 2px;
}
.catalog_h1 a h1 {
  color: black;
  margin: 0;
}
.catalog_h1 a {
  text-decoration: none;
}
.catalog_h1 {
  margin: 30px 0 0 30px;
  padding-left: 30px;
  display: block;
}
.footer {
  background-color: #333333;
  height: 200px;
  padding: 0.1px;
}
.clr {
  clear: both;
}
