@widthAll: 1200px;
@colorAll: #999;
@paddingForMargin: 0.1px;
@desktop: 1200px;

body {
    margin: 0px;
    padding: 0px;
}

.margin {
    margin: 0 auto;
}

.container {
    width: @widthAll + 1300px;
    .margin
}

@media (min-width: @desktop) {
    .container {
      max-width: @desktop;
    }
  }

.header {
    padding: @paddingForMargin;
    height: @widthAll / 4;
    background-color:@colorAll - #000;
    .margin;
}

.logo {
    margin: 70px 0px 0px 70px;
    width: 120px;
    height: 120px;
    background-image: url(../img/logo.jpg);
    outline: 1px solid black;
}

.menu {
    margin: 0 auto;
    margin-top: 60px;
}

.menu-list li {
    width: 130px;
    // height: 20px;
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    box-shadow: 0 1px 5px black;
    padding: 5px;
}

.menu-list {
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
    text-align: center;
}

.menu-list a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: @colorAll - #444;
    height: 1000px;
    padding: @paddingForMargin;
}

.catalog_block1 {
    width: 250px;
    height: 600px;
    // outline: 1px solid black;
    margin-left: 30px - @paddingForMargin;
    float: left;
}

.catalog_block1 ul {
    padding-inline-start: 0px;
    margin: 0;
}

.catalog_block2 {
    max-width: 850px;
    height: 350px;
    outline: 1px solid black;
    margin-right: 30 - @paddingForMargin;
    // float: right;
    margin-left: 310px;
}

.catalog-list a {
    text-decoration: none;
    color: black;
    padding-left: 30px;
}

.catalog-list {
    list-style-type: none;
    font-size: 18px;
    padding: 20px 0 20px 0;
    border: 1px solid black;
    margin-bottom: 2px;
}

.catalog_h1 a h1 {
    color: black;
    margin: 0;
}
.catalog_h1 a {
    text-decoration: none;
    // display: block;
}

.catalog_h1 {
    margin: 30px 0 0 30px;
    padding-left: 30px;
    display: block;
}

.footer {
    background-color: @colorAll - #666;
    height: 200px;
    padding: @paddingForMargin;
}

.clr {
    clear: both;
}

// Разобраться с двумя блоками в body. Почему один выше другого?
// Разобраться почему ссылка Каталога h1 на всю ширину контейнера.