{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="catalog_block">
    {% for product in products %}
    <div class="catalog_content">
        <a href="{% url 'catalog:marks' %}"><img src="{{ media_url }}{{ product.image }}"
                alt="Нет картинки">
            <h4>{{ product.service_name }}</h4>
            <p>{{ product.description }} </p>
            <h1>{{ product.pk }}</h1>
        </a>
    </div>
    {% endfor %}
    {{ test }}
</div>
{% endblock content %}