{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block menu %}
<div>
    <div class="clearfix">
        {% include 'mainapp/includes/inc_menu.html' %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="location">
    {% for location in locations %}
    <div class="title_contacts">
        <h1>Наши контакты</h1>
    </div>
    <p class="today">Сегодня: {{ visit_date|date:"l, j F, Y" }}</p>
    <div class="location_1">
        <div class="contacts">
            <!-- <i class="fa fa-map-marker fa-5x"></i> -->
            <p>Город: {{ location.city }}</p>
        </div>
        <div class="contacts">
            <p>Телефон: {{ location.phone }}</p>
        </div>
        <div class="contacts">
            <p>Email: {{ location.email }}</p>
        </div>
        <div class="contacts">
            <p>Адрес: {{ location.address }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="clr"></div>
{% endblock %}