{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock title %}

{% block content %}
<div class="main">
    <span class="catalog_h1"><a href="/catalog/">
            <h1>Каталог</h1>
        </a></span>
    <div class="catalog_block1">
        <ul>
            <li class="catalog-list"><a href="#">Диагностика</a></li>
            <li class="catalog-list"><a href="#">Замена масла</a></li>
            <li class="catalog-list"><a href="#">Ремонт двигателя</a></li>
            <li class="catalog-list"><a href="#">Ремонт подвески</a></li>
            <li class="catalog-list"><a href="#">Ремонт КПП</a></li>
            <li class="catalog-list"><a href="#">Услуги шиномонтажа</a></li>
        </ul>
    </div>
    <div class="catalog_block2"></div>
    <div class="clr"></div>
</div>
{% endblock %}