<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo"></div>
            <div class="menu">
                <ul class="menu-list">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/products/">Продукты</a></li>
                    <!-- <li><a href="pages/contacts.html">Контакты</a></li>
                    <li class="but_reg"><a href="#">Регистрация</a></li>
                    <li class="but_sign"><a href="#">Вход</a></li> -->
                </ul>
            </div>
        </div>
        <div class="main">
            <span class="catalog_h1"><a href="pages/catalog.html"><h1>Каталог</h1></a></span>
            <div class="catalog_block1">
                <ul>
                    <li class="catalog-list"><a href="#">Диагностика</a></li>
                    <li class="catalog-list"><a href="#">Замена масла</a></li>
                    <li class="catalog-list"><a href="#">Ремонт двигателя</a></li>
                    <li class="catalog-list"><a href="#">Ремонт подвески</a></li>
                    <li class="catalog-list"><a href="#">Ремонт КПП</a></li>
                    <li class="catalog-list"><a href="#">Услуги шиномонтажа</a></li>
                </ul>
            </div>
            <div class="catalog_block2"></div>
            <div class="clr"></div>
        </div>
        <div class="footer"></div>
    </div>

</body>

</html>