{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <span class="index_h1"><a href="/catalog/">
            <h1>Каталог</h1>
        </a></span>
    <div class="index_block1">
        <ul>
            <li class="index-list"><a href="#">Диагностика</a></li>
            <li class="index-list"><a href="#">Замена масла</a></li>
            <li class="index-list"><a href="#">Ремонт двигателя</a></li>
            <li class="index-list"><a href="#">Ремонт подвески</a></li>
            <li class="index-list"><a href="#">Ремонт КПП</a></li>
            <li class="index-list"><a href="#">Услуги шиномонтажа</a></li>
        </ul>
    </div>
    <div class="index_block2"></div>
    <div class="index_block3">
        {% for product in products %}
        <div class="index_product">
            <a href="#"><img src="{{ media_url }}{{ product.image }}"
                    alt="Ничего не сделали">
                <div class="index_text">
                    <img src="{% static 'img/icon-hover.png' %}" alt="Ничего не сделали2">
                    <h3>{{ product.category_name }}</h3>
                    <h4>{{ product.short_desc }}</h4>
                    <p>{{ product.description }} </p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="clr"></div>
</div>
{% endblock %}